*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #8fa9b4;
    text-align: center;
}

.container{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 7vmin;
    color : #ae3e3a;

    background-color: #c5cdc9;
}

#resetBtn , #newBtn{
    padding: 1rem;
    font-size: 1.28rem;
    background-color: #191913;
    color : white;
    border-radius: 1rem;
    border: none;
}


#msg{
    color: #c4f025;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hide{
    display: none ;
}